@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@700&display=swap');

html {
  font-size: 62.5%;
}

@media screen and (max-width: 543px) {
html {
  font-size: 56.25%;
}
}

body {
  min-width: 320px;
  max-width: 1920px;
  margin: 0;
  color: #666;;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: .08em;


}
/*共通*/
/* flexbox */
.flex {
    display: -webkit-box;
    display:-moz-box;
    display:-webkit-flexbox;
    display:-moz-flexbox;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:-moz-flex;
    display:flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -m-flex-wrap: wrap;
    flex-wrap: wrap;
  
    justify-content: center;
    align-items: center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.mar_top10{
  margin-top: 10px;
}
.mar_top30{
  margin-top: 30px;
}
.mar_btm30{
  margin-bottom: 30px;
}

.wrapper{
	position: relative;
    color:#555;
}

a{
   color:#6C6969;   
}
a:hover img{
    opacity: 0.7;
    transition: 0.2s;
}
a:hover{
      color: #FC9E17;   
}
.text_inn{
  padding: 20px;
  box-sizing: border-box;
  line-height: 2;

}
.text_list{
  
}
.text_list li{
  line-height: 2.5;
  

}
.bg_em{
  background: linear-gradient(transparent 0%, #ffff7f 0%);

}
/*==================================================
ヘッダー
===================================*/
#header{


}
.header_top{
  margin-bottom: 5px;
}
.header_top_in{

}
.logo{
   max-width: 50px;
   width: 50px;
   padding-top: 5px;
}
.logo img{
  width: 100%;
}
.group_name{
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 3px;
   color:#333;
   font-family: 'M PLUS Rounded 1c', serif;
   width: 250px;
   margin-left: 10px;
}
.header_copy{
 position: absolute;
 top: 300px;
 left:50px;
 background: rgba(8,25,65,.6);
 color: #fff;
 z-index:  1;
 padding:10px;
 box-sizing: border-box;
 letter-spacing:  4px;
 font-family: 'Kaisei Tokumin', serif;
 line-height: 2;
 font-size: 20px;
}
.header_copy .line01{

}
.header_copy .line02{

}
.header_copy em{
  font-size: 20px;
}



/*==================================================
フッター
===================================*/

#footer{
     background:#DCDBDB;
     font-family: 'M PLUS Rounded 1c', serif;

}
.footer_in{
     background:url(../img/bg.png) no-repeat center center;
     background-size: cover;
     background-size:auto 100%; 
}
.footer_wrp{
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    max-width: 800px;
    margin: 0 auto;
}
.footer_box{
    width: 25%;
}
.footer_sub_title{
    font-weight: bold;
    font-size: 15px;
    
}
.footer_tx{
   padding-left: 10px!important;
   box-sizing: border-box;
}
.footer_text{
    font-size: 13px;
    line-height: 2;
}
.footer_text a{
    display:block;
    text-decoration: underline;
}
.footer_text a:hover{
    color: #19C9D8;
}
.footer_box_link{
  width: 100%;
  
}
.footer_sub_title_link{
   margin-top: 20px;
   font-size:  14px;
}
.footer_text_link{
  font-size: 11px;
}
.footer_text_link a{
  display:block;
  text-decoration: underline;
}
.footer_box_link li{
  display:  inline-block;
  margin-right: 10px;
}




#footer .group_name{
  width: 200px;
}
.foot_logo{
  max-width: 50px;
}
.foot_logo img{
   width: 100%;
}
.contact{
  margin: 10px auto;
  text-align: center;
  
}
.contact a{
  color: #388e8b;
}
.contact a:hover{
  color: #149EB4;
  font-weight: bold;
}

#footer address {
   font-style: normal;
   margin-top: 10px;
}
.foot_copy {
  padding: 10px 0;
  text-align: center;

}
/*==================================================
スライダーのためのcss
===================================*/
.slider {
    position:relative;
      z-index: 1;
      /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
      height: 100vh;/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
      
  }
  /*　背景画像設定　*/
  
  .slider-item01 {
      background:url(../img/slide01.jpg);
  }
  
  .slider-item02 {
      background:url(../img/slide02.jpg);
  }
  
  .slider-item03 {
      background:url(../img/slide03.jpg);
  }
  .slider-item04 {
    background:url(../img/slide04.jpg);
}

  .slider-item {
      width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
      height:100vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
      background-repeat: no-repeat;/*背景画像をリピートしない*/
      background-position: center;/*背景画像の位置を中央に*/
      background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
  }
  
  
  /*矢印の設定*/
  
  .slick-prev, 
  .slick-next {
      position: absolute;
      z-index: 3;
      top: 42%;
      cursor: pointer;/*マウスカーソルを指マークに*/
      outline: none;/*クリックをしたら出てくる枠線を消す*/
      border-top: 2px solid #669491;/*矢印の色*/
      border-right: 2px solid #669491;/*矢印の色*/
      height: 25px;
      width: 25px;
  }
  
  .slick-prev {/*戻る矢印の位置と形状*/
      left:2.5%;
      transform: rotate(-135deg);
  }
  
  .slick-next {/*次へ矢印の位置と形状*/
      right:2.5%;
      transform: rotate(45deg);
  }
  
  /*ドットナビゲーションの設定*/
  
  .slick-dots {
      position: relative;
      z-index: 3;
      text-align:center;
      margin:-50px 0 0 0;/*ドットの位置*/
  }
  
  .slick-dots li {
      display:inline-block;
      margin:0 5px;
  }
  
  .slick-dots button {
      color: transparent;
      outline: none;
      width:8px;/*ドットボタンのサイズ*/
      height:8px;/*ドットボタンのサイズ*/
      display:block;
      border-radius:50%;
      background:#fff;/*ドットボタンの色*/
      margin-top: 10px;
      border-color: #388e8b;
  }
  
  
  .slick-dots .slick-active button{
      background:#388e8b;/*ドットボタンの現在地表示の色*/
  }

  /* ==========================
  フローティングバナー（追従バナー）
========================== */
.bl_floatingBanner {
    position: fixed;
    bottom: 0;
    right: 10px;
    width: 150px;
    max-width: 100%;
    z-index: 100;;
  }
  .bl_floatingBanner.js_close {
    display: none;
  }
  .bl_floatingBanner_img {
    display: block;
    transition: 0.3s;
  }
  .bl_floatingBanner_img:hover {
    opacity: 0.6;
  }
  .bl_floatingBanner_close {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: -15px;
    cursor: pointer;
    background: #ddd;
    border-radius: 50%;
    
  }
  .bl_floatingBanner_close span:nth-of-type(1) {
    position: absolute;
    top: 7px;
    right: 0;
    width: 15px;
    height: 1px;
    background-color: #000;
    transform: rotate(45deg);
  }
  .bl_floatingBanner_close span:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 7px;
    width: 1px;
    height: 15px;
    background-color: #000;
    transform: rotate(45deg);
  }
  
  /* ==========================
    コンテンツの中身
  ========================== */
  .ly_inner {
    width: 100%;
    max-width: 1080px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ccc;
  }
  .ly_inner h2 {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .md_textblock > * + * {
    margin-top: 10px;
  }




  
  





/* Nav
-----------------------------------------*/
.Nav {
  border-top: solid 1px #f5fafa;
  border-bottom: solid 1px #f5fafa;
  z-index:100;
  text-align: center;
  
}
@media screen and (max-width: 1000px) {
  .Nav {
    position: relative;
    border-top:none;
    margin-top: 20px
  }
}
.Nav .navbtn {
  display: none;
}
@media screen and (max-width: 1000px) {
  .Nav .navbtn {
    display: block;
    position: absolute;
    top: -50px;
    right: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .Nav .navbtn a,
  .Nav .navbtn a.close {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #333;
  }
  .Nav .navbtn a::before,
  .Nav .navbtn a.close::before {
    position: absolute;
    top:10px;
    left:10px;
    content:"";
    width: 20px;
    height: 3px;
    background-color: #FFF;
   transition: .2s;
  }
  .Nav .navbtn a.open::before {
    top:19px;
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  }
  .Nav .navbtn a::after,
  .Nav .navbtn a.close::after {
    position: absolute;
    bottom:10px;
    left:10px;
    content:"";
    width: 20px;
    height: 3px;
    background-color: #FFF;
    transition: .2s;
  }
  .Nav .navbtn a.open::after {
    bottom:18px;
    transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  }
}
@media screen and (max-width: 1000px) {
  .Nav .navbtn a.open {
  }
}
 
@media screen and (max-width: 1000px) {
  .Nav .navbtn a span {
    display: block;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  .Nav .navbtn a span::after,
  .Nav .navbtn a.close span::after {
    position: absolute;
    top:18px;
    left:10px;
    content:"";
    width: 20px;
    height: 3px;
    background-color: #FFF;
  }
  .Nav .navbtn a.open span::after {
    display: none;
  }
}
.Nav ul.close {
  display: none;
  border-top: solid 1px #F5F4F0;
}
.Nav > ul {
  margin: 0 auto;
  /*max-width: 1000px;*/
}
@media screen and (max-width: 1000px) {
  .Nav > ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    /*background-color: #FFF;*/
  }
}
.Nav > ul > li {
  position: relative;
  font-size: 15px;
  display: inline-block;
  width: 18%;
  background-color: #b3dddb;
}
@media screen and (max-width: 1000px) {
  .Nav > ul > li {
    display: block;
    border-bottom: solid 1px #fff;
    width: 100%;
  }
}
.Nav > ul > li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 19px 15px;
  box-sizing: border-box;
  font-size: 15px;
  z-index: 2;
  font-weight:  bold;
}
.Nav > ul > li.parent > a {
  padding-right:25px;
  box-sizing: border-box;
  
}
.Nav > ul > li.parent > a::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 6px;
    height: 6px;
    margin: -6px 0 0 0;
    border-top: solid 2px #378c89;
    border-right: solid 2px #378c89;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
@media screen and (max-width: 1000px) {
.Nav > ul > li.parent.open > a::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
}
@media screen and (max-width: 1000px) {
  .Nav > ul > li.parent.open {
    border-bottom: none;
  }
}
  .Nav > ul > li.parent.open > a{
    color: #FFF;
  }
  .Nav > ul > li.parent.open > a::after {
  background: #333;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media screen and (max-width: 1000px) {
  .Nav > ul > li.parent.open > a {
    color: #FFF;
  }
}
 
.Nav > ul > li a:hover {
  color: #fff;
}
.Nav > ul > li a::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.Nav > ul > li a,
.Nav > ul > li a::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.Nav > ul > li a::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(.5);
  transform: scale(.5);
}
.Nav > ul > li a:hover::after {
  background: #333;
  -webkit-transform: scale(1);
  transform: scale(1);
}
 
/* 2階層 */
.Nav > ul > li > ul {
  display: none;
  position: absolute;
  top: 63px;
  left: 0;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9;
}
 
@media screen and (max-width: 1000px) {
  .Nav > ul > li > ul {
    /*background-color: #fbfbfb;*/
    position: static;
  }
}
 
.Nav > ul > li > ul li {
  white-space: nowrap;
  width: 100%;
  display: inline-block;
}
 
.Nav > ul > li > ul li a {
  position: relative;
  padding: 12px 27px 12px 27px;
}
@media screen and (max-width: 1000px) {
  .Nav > ul > li > ul li a {
    border-bottom: solid 1px #dddddd;
    background-color: #EEE;
  }
}
.Nav > ul > li > ul li a::before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 6px;
    height: 6px;
    margin: -6px 0 0 0;
    border-top: solid 2px #378c89;
    border-right: solid 2px #378c89;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.Nav > ul > li > ul li a:hover {
  /*text-decoration: underline;*/
}
 
@media screen and (max-width: 1000px) {
  .Nav > ul > li > ul li a:hover {
    background-color: #FFF;
  }
}
 
.Nav > ul > li > ul li ul li a {
  padding-left: 42px;
}
.Nav > ul > li > ul li ul li a::before {
    left: 20px;
}


























  
  
  
  
  
  
  
  
  
  
  
  
  
  


/*==================================================
コンテンツ
===================================*/
/*共通*/

 .con_box{
    margin: 50px 0;
  }
  .con_box_in{
    padding: 20px;
    box-sizing: border-box;
  }
  .cont_title_ver01{
     margin: 0 auto;
     padding: 30px 0;
  }
  .eng_title{
    text-align: center;
    font-size: 60px;
     font-family: 'Kaisei Tokumin', serif;
    color: #666;
    letter-spacing: 8px;
  }
  .ja_title{
    text-align: center;
    font-size: 30px;
    font-family: 'Kaisei Tokumin', serif;
    color: #666;
    letter-spacing: 5px;
  }
  .title_catch{
    color: #666;
    font-size: 18px;
    text-align: center;
  }
  .cont_title_ver02{
    margin: 0 auto;
    padding: 30px 0;
    font-size: 60px;
    text-align: center;
 }
 .cont_title_ver02 .title{
  font-family: 'Kaisei Tokumin', serif;
  color: #666;
  letter-spacing: 8px;
}
 .more_btn01{
      
  }
.more_btn01 a {
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 280px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.more_btn01 a:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 6px;
  height: 6px;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  transform: translateY(-50%) rotate(45deg);
}
.more_btn01 a:hover {
  background: #6bb6ff;
  color: #FFF;
}
.more_btn01 a:hover:after {
  right: 1.4rem;
}

 .more_btn02{
       max-width: 250px;
       margin: 1rem auto; 
       position: relative;
}
.more_btn02 a{
     display: block;
     padding: 1rem;
     box-sizing: border-box;
     font-size: 2rem;
     text-align: center;
     background: #f39f3b;
     color: #fff;
     border-radius: 50px;

}
.more_btn02 a::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ed8e1f;
  border-radius: 50px;
}


.more_btn02 a:hover{
    background: #fff;
    color:#ed8e1f;
}
.more_btn02::after {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    width: 1rem;
    height: 1rem;
    transform: translateY(-50%) rotate(45deg);
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    content: "";
}
.more_btn02 a:after:hover{
    border-right: 2px solid #ed8e1f;
    border-top: 2px solid #ed8e1f;
}
#page-top{
      position: fixed;
      bottom: 20px;
      right: 10px;   
      color: #523a07;
      z-index: 100;
}
#page-top .tt{
    display: block;
    text-align:center;
} 
  
  
  
 /* NEWS*/
 
.news-wrp{
    padding: 30px 20px;
   box-sizing: border-box; 
    max-width: 1000px;
    margin: 0 auto;
}
  
  .all-news{
    background: #fff;
    padding: 1rem;
    box-sizing: border-box;
    line-height: 2.6;
    margin-bottom: 3rem;
}
.all-news li a{
     display:block;
     border-bottom: 1px solid #ddd;
}
.all-news li a:hover{
     color: #24C5E7;
     text-decoration: underline;
}
.all-news .news-text{
     
}
.all-news .date{
    letter-spacing: .2rem;
     margin: 0 1rem;
     width: 105px;
     display: inline-block;
}
/* EVENT*/

.event-wrp{
    padding: 30px 20px;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
}
.event_all{
}
.event_box{
    width:calc(33% - 15px);
    box-shadow: 2px 2px 1px #ddd;
    position: relative;
    margin-right: 15px;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.event_box a:hover img{
    opacity: 0.7;
    transition: 0.2s;
}
.ev_member{
    background: #378e88;
    color: #fff;
    font-size: 12px;
    width: 80px;
    height: 30px;
    padding: 3px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
    position:absolute;
    left:0;
    top: 0;
}
.ev_cat{
    background: #ed8e1f;
    color: #fff;
    font-size: 12px;
    width: 120px;
    height: 30px;
    padding: 3px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
    position:absolute;
    right:0;
    top: 0;
}
.ev_date{
    display:block;
    font-size: 12px;
    padding-left: 10px;
    box-sizing:border-box;
    font-weight: 800;
    color: #363232;
    margin: 5px auto 0 auto;
}
.ev_title{
    display:block;
    font-size: 12px;
    padding-left: 10px;
    box-sizing:border-box;
    line-height: 2;
    color: #363232;
    margin: 0 auto 10px auto;
}

/* カレンダー*/
.calender-wrp{
    max-width: 850px;
    margin: 0 auto;
}
.calender-box{
    position:relative;
      padding-bottom: 66.6%;
      height: 0;
  overflow: hidden;
}   
.calender-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* 活動内容*/



.act-wrp{
    padding: 30px 20px;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
}

.act_box{
    margin-bottom: 50px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
.act_box a{
    display:block;   
}
.act_box a:hover img{
    opacity: 0.7;
    transition: 0.2s;
}
.act_box a:hover{
      color: #FC9E17;   
}
.type_img_left{
    
}
.type_img_left .act_image{
    width: 46%;
   margin-right: 2%;
}
.type_img_left .act_detail{
    width: 50%;
    padding: 1%;
    box-sizing:border-box;
}


.type_img_right{
}
.type_img_right .act_image{
    width: 50%;
    
}
.type_img_left .act_detail{
    width: 50%;
    padding: 1%;
    box-sizing:border-box;
}

.act_image{
     position: relative;
}
.act_image::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#999 30%, rgba(0, 0, 0, 0) 31%), radial-gradient(#999 30%, rgba(0, 0, 0, 0) 31%);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
  z-index: -1;
}
.act_image img{
    width: 100%;
}

.act_detail{
     text-align: center;
     display: flex; 
    justify-content: center;
    flex-wrap: wrap; 
}
.act_title{
     font-size: 40px;
     width: 100%;
     display: flex;
     font-family: 'Kaisei Tokumin', serif;
    justify-content: center;
    align-items: end;
}
.act_text{
     font-size: 16px;
     width: calc(100% - 30px);
     display: block;
}

/* 組織*/

.org-wrp{
    padding: 30px 20px;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
}
.org_all{
    display: flex;
    flex-wrap: wrap;
}
.org_box{
    position: relative;
    width:calc(33.3% - 20px);
    border-radius: 50%;
    background-color: #388e8b;
    margin: 20px 20px 0 0;
}
.org_box_in{
  position: relative;
  padding-top: 100%;
  height: 0;
  
}
.org_box a{
    display:block;
}
.org_box a:hover{
    background: #1CAA9A;
}

.org_text{
    font-size: 25px;
    color:#fff;
    font-family: 'M PLUS Rounded 1c', serif;
    position:absolute;
    right: 0;
    left: 0;
    display:block;
    text-align:center;
    margin: 0;
    top: 15%;
}
 a:hover .org_text{
    color:#9bf2ec;

}
.org_icon img{
    width: 100%
}
.org_icon {
    max-width: 130px;
    display:block;
    position:absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -35%);
}
/* 情報*/

.info-wrp{
    padding: 30px 20px;
    box-sizing: border-box;
    max-width: 1000px;
    margin: 0 auto;
}
.info_all{
        display: flex;
       justify-content: center;
       flex-wrap: wrap; 
}
.info_box{
    width: 31.3%;
    border: 3px solid #388e8b;
    margin: 0 2% 2% 0;
}
.info_box a{
    display:block;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}
.info_box a:hover{
    background: #388e8b;
    color: #fff;
}

.info_box a:after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 2rem;
  font-size: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s;
  width: 15px;
  height: 15px;
  border-top: solid 5px #388e8b;
  border-right: solid 5px #388e8b;
  transform: translateY(-50%) rotate(45deg);
}
.info_box a:hover:after{
  border-top: solid 5px #fff;
  border-right: solid 5px #fff;
}
.info_box_in{
     display: flex;

}
.info_text{
    display:block;
    font-size: 18px;
    font-family: 'M PLUS Rounded 1c', serif;
    text-align: center;
    color: #388e8b;
}
.info_box a:hover .info_text{
    color: #fff;
}

.info_icon{
    max-width: 20%;
    display:block;
    margin: 0 auto;


}
.info_icon img{
    width: 100%;
}







 @media screen and (max-width: 820px) {
.header_copy{
  top: 50px;   
}

.event_box{
   width: calc(50% - 20px);
}
.slider {
      height: 50vh;
      
  }
  .slider-item {
      height:50vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  }
  .calender-wrp{
    max-width:inherit;
    padding: 0 20px;
    box-sizing: border-box;
}
}
 @media screen and (max-width: 768px) {
.header_copy{
  top: 120px;  
  left: 20px;
  font-size: 18px;
  line-height: 1.6;   
}
  .eng_title{
    font-size: 40px;
    letter-spacing: 8px;
  }
  .ja_title{
    font-size: 20px;
    letter-spacing: 5px;
  }
  .title_catch{
    font-size: 16px;
  }
.event_box{
   width: calc(50% - 20px);
}
.org_text{
    top: 10%;
}
.slider {
      height: 50vh;
      
  }
  .slider-item {
      height:50vh;/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
  }
  .info_box{
    width: 48%;
  }
  .footer_box{
    width: 50%;
    margin-top: 20px;
}
.footer_sub_title{
    text-align:  center;
}
.footer_tx{
  text-align:  center;
}
}

  
   @media screen and (max-width: 640px) {
    .con_box{
           margin: 10px 0;
    }
.header_copy{
  top: 100px;
  left: 20px;
  font-size: 16px;
  line-height: 1.6; 
  padding: 5px;
  
}
.org-wrp, .act-wrp, .event-wrp, .news-wrp, .info-wrp{
    padding: 10px 20px;
}
   .cont_title_ver01{
     padding: 15px 0;
  }

  .eng_title{
    font-size: 35px;
    letter-spacing: 2px;
  }
  .ja_title{
    font-size: 18px;
    letter-spacing: 2px;
  }
  .title_catch{
    font-size: 14px;
  }
.event_box{
    width: 100%;
}
.act_box{
    display: inherit;
}
.type_img_left .act_image{
    width: 100%;
  /* margin-right: 2%;*/
}
.type_img_left .act_detail{
    width: 100%;
    padding: 1%;
    box-sizing:border-box;
}
.type_img_right .act_image{
    width: 100%;
    
}
.type_img_left .act_detail{
    width: 100%;
    padding: 1%;
    box-sizing:border-box;
}
.act_title{
     font-size: 30px;
     paddinf-top: 10px;
}


.calender-wrp{
    max-width:inherit;
    padding: 0 10px;
    box-sizing: border-box;
}
.org_box{
    width:calc(50% - 20px);
    margin: 20px 20px 0 0;
}
.org_text{
    font-size: 18px;
}
.footer_box{
  width: 50%;
  margin-top: 20px;
}
.footer_sub_title{
  text-align:  center;
}
.footer_tx{
text-align:  center;
}
.group_name{
  font-size: 16px;
}
  }






/*活動内容ページ*/
.cont_title_ver02 .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	text-align: center;
}

.cont_title_ver02 .title::before,
.cont_title_ver02 .title::after {
	content: '';
	width: 5px;
	height: 45px;
	background-color: #b3dddb;
}

.cont_title_ver02 .title::before {
	margin-right: 30px;
	transform: rotate(-35deg)
}
.cont_title_ver02 .title::after {
	margin-left: 30px;
	transform: rotate(35deg)
}
  .act_header{
     font-size: 18px;
     line-height: 2;
     padding:  15px 25px;
     box-sizing: border-box;
     margin-bottom: 30px;
     color: #666; 
     position: relative;
  }
  
  .act_header:before,
  .act_header:after {
    position: absolute;
    content: '';
  }
  
  .act_header:after {
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-top: 4px solid #b3dddb;
    border-left: 4px solid #b3dddb;
  }
  .act_header:before {
    right: 0;
    bottom: 0;
    width: 45px;
    height: 45px;
    border-right: 4px solid #b3dddb;
    border-bottom: 4px solid #b3dddb;
  }
  .cont_inner{
    margin: 20px auto;

  }
  .sty01{
    padding:  10px;
    box-sizing: border-box;
    font-weight:  bold;


  }
  .sty02{
    padding:  10px;
    box-sizing: border-box;
    font-weight:  bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background: #1CAA9A;
    color: #fff;
    box-shadow: 1px 3px 3px #ddd;
    margin: 20px auto;
  }
  

  .sty03 {
    position: relative;
    padding: 1rem 0.5rem;
    border-bottom: 3px solid #1CAA9A;
    margin: 20px auto;
    font-size: 30px;
  }
  .sty03:before, .sty03:after {
    position: absolute;
    content: '';
    left: 1em;
    width: 0;
    height: 0;
    border-width: 14px 12px 0;
    border-style: solid;
  }
  .sty03:before {	
    bottom: -14px;    
    border-color: #1CAA9A transparent transparent;
  }
  .sty03:after {
    bottom: -10px;
    border-color: #fff transparent transparent;
  }
  .sty04 {
    position: relative;
    padding: 1rem;
    border-radius: 5px;
    
    outline: 2px solid #ed8e1f;
    outline-offset: 5px;
    background:
        linear-gradient(-45deg, transparent 0 20px, #fff 20px calc(100% - 20px), transparent calc(100% - 20px)),
        repeating-linear-gradient(-45deg, #ed8e1f 0 2px, #fff 2px 6px);
    color: #fff;
    text-shadow: -1px -1px 0 #ed8e1f, -1px 1px 0 #ed8e1f, 1px -1px 0 #ed8e1f, 3px 3px 0 #ed8e1f;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.sty04 span{
  font-size: 20px;
}
.sty05 {
  position: relative;
  padding: 1rem;
  background: linear-gradient(0deg, transparent 0 10%, #ed8e1f 0 90%, transparent 90%),
      repeating-linear-gradient(-45deg, #333 0 6px, #ed8e1f 6px 12px);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color:#fff;
}

.sty06 {
	position: relative;
	padding: 0 .5em .5em 2em;
	border-bottom: 3px solid #b3dddb;
  font-size: 18px;
  font-weight: bold;
}
.sty06::before,
.sty06::after {
	position: absolute;
	content: '';
	border-radius: 100%
}
.sty06::before {
	top: .2em;
	left: .2em;
	width: 18px;
	height: 18px;
	background-color: rgba(17, 149, 158, 0.5);
	z-index: 2;
}
.sty06::after {
	top: .7em;
	left: .7em;
	width: 13px;
	height: 13px;
	background-color: rgba(49, 192, 218, 0.2);
}









/*報告*/
.report-wrp{
    padding: 30px;
    box-sizing: border-box;
    margin: 0 auto;
}


  .cont_inner .inbox01{
   border: 2px solid #ddd;
   border-radius:  20px;
   padding:  15px;
   box-sizing: border-box;
   margin: 20px auto;
  }
  .repo_outer{
    /*padding-left: 10px;*/
  }
  .repo_outer .years{
     font-weight:  bold;
     border-left: 5px solid #378e88;
     padding-left: 5px;
     box-sizing: border-box;
  }
  .repo_box{
    width: 31.3%;
    float: left;
    margin: 20px 1% 20px 1%;
  }
  .repo_box a{
    position: relative;
    display: block;
    border: 5px solid #1CAA9A;
    box-sizing: border-box;
    border-radius: 18px;
    padding:10px 0;
    text-align: center;
    /*width: calc(100% / 3 - 30px);*/
    
    
    font-size: 20px;
  }
  .repo_box:nth-child(3n){

  }
  .repo_box a:after {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 2rem;
    font-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.3s;
    width: 15px;
    height: 15px;
    border-top: solid 5px #1CAA9A;
    border-right: solid 5px #1CAA9A;
    transform: translateY(-50%) rotate(45deg);
  }
  .repo_box a:hover{
    color:#fff;
    background: #1CAA9A;
  }
  .repo_box a:hover:after{
    border-top: solid 5px #fff;
    border-right: solid 5px #fff;
  }

.anchor{
  margin:30px auto;
  
}
.anchor li{
  width:10%;

}
.anchor a{
  color: #fff;
  
  display: block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  background: #363232;
  line-height: 3;
  font-size: 18px;
  padding:  5px 10px;
  box-sizing: border-box;
  text-align: center;
}
.report-wrp{
    max-width: 900px;
    margin: 0 auto;
}
.repo_info_box{
  line-height: 2;
  margin: 0 auto;
  font-size: 18px;
  border: 3px solid #ddd;
  margin: 30px 0;
  padding:  20px;
}
.collect_photo_box{
  line-height: 2;
  margin: 0 auto;
  font-size: 18px;
  border: 3px solid #ddd;
  margin: 30px 0;
  padding:  20px;
}
.collect_photo_box span{
   font-weight:bold;
}
.repo_info_box .title{
  text-decoration: underline;
}
.repo_info_box .data{
  text-decoration: underline;
}
.repo_info_box .member{

}
.repo_info_box .writer{

}
.repo_info_box .add{

}
.repo_info_box span{
  font-weight: bold;
}

.repo_text{
    padding:  20px;
    box-sizing: border-box;
    line-height: 2.5;
    background: #f0f4f3;
    margin: 0 auto;
}
.photo_area{

}
.photo_area p{
   display: inline-block;
   width: 33.3%;
}
.photo_area img{
   width: 100%;
}
.inner_title{
  font-weight:  bold;
  border: 2px solid #ddd;
  padding: 0 5px;
  box-sizing: border-box;
  display: inline-block;
}
.repo_text .indent{
    padding-left:10px;
    box-sizing: border-box;
}
.repo_text .indent2{
  padding-left:20px;
  box-sizing: border-box;
}

/*組織*/
.cont_title_ver03 .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	text-align: center;
}

.cont_title_ver03 .title::before,
.cont_title_ver03 .title::after {
	content: '';
	width: 5px;
	height: 45px;
	background-color: #b3dddb;
}

.cont_title_ver03 .title::before {
	margin-right: 30px;
	transform: rotate(-35deg)
}
.cont_title_ver03 .title::after {
	margin-left: 30px;
	transform: rotate(35deg)
}
.cont_title_ver03 .title span {
  font-size: 18px;
  padding-left:7px;
}
.mds{
   text-align: center;
   font-size:  30px;
   margin-top:50px;
   color:#378e88;
   font-weight: 800;
   font-family: font-family: 'M PLUS Rounded 1c', serif;
}
.org_menu{
   margin: 20px auto;

}
.org_menu li {
  width:22%;
  background: #1CAA9A;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #fff;
  margin: 0 20px 20px 0;
  box-shadow:  1px 2px 2px #ddd;
}
.org_menu li a{
    
    
    color: #fff;
    line-height: 3;
    padding: 15px;
    box-sizing: border-box;
}
.text_list_org li{
    padding: 20px;
    box-sizing: border-box;
    border: 3px solid #378e88;
    margin: 20px;
    text-align: center;
}
.sp01{
  background: #ddd;
}
.org_greeting{
   padding: 20px;
   line-height: 2;

}


/*calender*/
.calender_box{
  margin-top: 30px;

}
.calender_box div.fixed-box-yoko-tate {
  width:850px;
  height:450px;
  background: #fff;
  border:1px solid #dc6000;
  overflow:auto;
}
.calender_box table.yoko-tate {
  width: 1840px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
.calender_box table.yoko-tate th, table.yoko-tate td {
  width: 230px;
  height: 100px;
  vertical-align: middle;
  padding: 0 15px;
  border: 1px solid #ccc;
}
.calender_box table.yoko-tate .fixed01,
.calender_box table.yoko-tate .fixed02 {
  position: sticky;
  top: 0;
  left: 0;
  color: #fff;
  background: #dc6000;
}
.calender_box table.yoko-tate .fixed01:before,
.calender_box table.yoko-tate .fixed02:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}
.calender_box table.yoko-tate .fixed01 {
  z-index: 2;
}
.calender_box table.yoko-tate .fixed02 {
  z-index: 1;
}

/*クライミング*/
.bouldering{

}
.bouldering span{
   font-weight:  bold;
}
.bouldering li{
   line-height:  2.5;
}
.bouldering .bn{
   display: block;
   margin: 10px auto;
}
.bouldering .bn a{
   border: 3px solid #378e88;
   background: #1CAA9A;
   color: #fff;
   padding: 10px;
   box-sizing: border-box;
   width: 200px;
   text-align: center;
   border-radius: 20px;
}
.bouldering .bn a:hover{
  background: #fff;
  color: #1CAA9A;
}

/*安全講習*/
.safe_box{

}


.safe_box table{
  border-collapse: collapse;
  width: 100%;
}
.safe_box .tb01 th,
.safe_box .tb01 td{
  padding: 10px;
  border: solid 1px #ccc;
  text-align:center;
  box-sizing:border-box;
}
.safe_box .tb01 th {
  background: #378e88;
  color: #fff;
  
}
/*
.safe_box .tb01 th .ti {
  background: #378e88;
  color: #fff;
  
}
.safe_box .tb01 th .text{
  width: 30%;

}*/
/*会議議事録*/

.sty07{

}

.sty07{
  position: relative;
  padding: 1rem;
  box-shadow: 5px 5px #378e88;
  border: 2px solid #378e88;
  color: #378e88;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}


.sty07:before {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 20px;
  background-color: #fff;
  content: "";
}

.sty07:after {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  width: 2px;
  background-color: #378e88;
  content: "";
}


.newsletter_tit{
   margin: 30px auto;
   text-align: center;
   font-weight: bold;
   font-size: 22px;
}
.newsletter_tit span{
   font-weight: inherit;
   font-size: 14px;
   display: inline-block;
   margin-left: 10px;
}
.newsletter_come{
   margin: 30px auto;
}
@media screen and (max-width: 640px) {
  .safe_box .tb01 .head{
    display:none;
  }
  .safe_box .tb01 {
    width: 100%;
  }
  .safe_box .tb01 td,
  .safe_box .tb01 th{
    display: block;
    width: 100%;
    border-bottom:none;
  }
  .safe_box .tb01 td{
    padding: 0px 12px 0 0;
    display: block;
    width: 100%;
    line-height: 2.5;
    text-align:left;
  }
  .safe_box .tb01 td:before{
    color: #fff;
    content: attr(data-label);
    font-weight: bold;
    padding: 0px 10px;
    display: inline;
    background-color: #19C9D8;
    margin-right: 10px;
    float: left;
  }
  .safe_box .tb01 tr:last-child{
    border-bottom: solid 1px #ccc;
  }
}






  @media screen and (max-width: 820px) {
    .repo_box{
      width: 48%;
      float: left;
      margin: 20px 1% 20px 1%;
    }
    .anchor li{
      width:20%;
    
    }
  }
  @media screen and (max-width: 640px) {
    .repo_box{
      width: 98%;
      float: none;
      margin: 20px 1% 20px 1%;
    }
    .anchor li{
      width:33.3%; 
    }
    .anchor li a{
      line-height: 2;
      
    }
    .repo_box a{
      line-height: 3;
    }
    .con_box_in{
      padding: 10px 20px;
    }
    .cont_title_ver02{
      padding: 5px 0;
    }
    .org_menu li {
      width:47%;
      margin: 0 5px 5px 0;
    }
  }
  .calender_img{

  }
  .calender_img img{
     width: 100%;
  }
  .calender_subtitle{
     text-align: center;
     background: #1CAA9A;
     color: #fff;
     padding: 10px;
     box-sizing: border-box;
     letter-spacing: 1px;
     font-family: 'Kaisei Tokumin', serif;
     font-size: 20px;
  }
  .calender_present_main{
     margin: 20px 10px;
     font-size: 18px;
     border-left: 5px solid #1CAA9A;
     border-right: 5px solid #1CAA9A;
     padding: 0 5px;
     box-sizing: border-box;
     display: inline-block;
  }
  .calender_inbox{
    padding: 10px;
    box-sizing: border-box;
    background: #f9e4cb;
    margin-bottom: 20px;
  }

  .grid{
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
	width: 25%;
	padding: 5px;
  box-sizing:border-box;
}
.grid-item img {
	display: block;
	width: 100%
}
/*   会員フォーム*/
.member-wrp{
  max-width: 850px;
  margin: 0 auto;
}
.member-form{
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100%;
  
}   
.member-form iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
bottom: 0;
right: 0;
}

.member_box {
  line-height: 2;
  margin: 0 auto;
  font-size: 18px;
  margin: 30px 0;
  padding: 20px;
}
.past-event-wrp{

}
.past-event-wrp .event_wrapper{
  margin: 20px auto;

}
.past-event_box{
   width: 33.3%;
}
.past-event-wrp .photo-img{
   border: 2px solid #ddd;
   box-sizing: border-box;
}
.past-event-wrp .photo-img img{
   width: 100%;
}
.past-event-wrp .event_detail{

}
.past-event-wrp .ev_date{

}
.past-event-wrp .ev_title{

}
.past-event-wrp .ev_explain{

}
.mar{
  margin: 30px auto;
}